body
{
	font-family: verdana,helvetica,arial,sans-serif;
	background-color: #f1f1f1;
	color: #404040;
	margin: 0px;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

h1
{
	color: #8AC007;
	font-weight: bold;
	font-size: 35px;
	text-shadow: -1px -1px white, 1px 1px black;/*#d3d3d3;*/
}

h2 
{
	font-weight: bold;
	font-size: 20px;
	margin: 0px;
	margin-bottom: 15px;
}

div
{
	display: block;
}

.top-bar
{
	height: 25px;
	background-color: #d3d3d3;
	padding-top: 6px;
	border-radius: 10px;
}

.top-bar a:link, .top-bar a:visited
{
	color: #404040;
	text-decoration: none;
}

.top-bar a:hover, .top-bar a:active
{
	color: #cc0000;/*#8AC007;*/
}

.top-bar-menu
{
	padding-left: 10px;
}

.top-bar-menu-selected
{
	font-weight: bold;
}

.top-bar-login
{
	float: right;
	padding-right: 10px;
}

.top-bar-login a:link, .top-bar-login a:visited
{
	color: #cc0000;
}

.top-bar-login a:hover, .top-bar-login a:active
{
	color: #cc0000;
	text-decoration: underline;
}

.content
{
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 10px;
}

.content-tirar-dados fieldset
{
	border: 1px solid #ddd;
	border-radius: 5px;
}

.content-tirar-dados legend
{
	font-weight: bold;
}

.content-tirar-dados-form-element
{
	float: left;
	padding-right: 20px;
}

.content-tirar-dados-form-element fieldset
{
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0px;
}

.content-tirar-dados-form-element input
{
	resize: none;
	border-radius: 5px;
	border: 1px solid #999999;
}

.content-tirar-dados-form-element textarea, .content-tirar-dados-form-element button
{
	border: 1px solid #999999;
	border-radius: 5px;
}

.content-tirar-dados-form-element input:focus, .content-tirar-dados-form-element textarea:focus 
{ 
	border: solid 1px #cc0000; 
}